version: "2.2"

services:
  mysql:
    image: mysql:8.0
    hostname: mysql
    container_name: mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
      - MYSQL_USER=smartcache
      - MYSQL_PASSWORD=smartcache
      - MYSQL_DATABASE=smartcache

  grafana:
    image: smartcache/grafana
    build:
      context: ./docker/grafana
      dockerfile: ./Dockerfile
    hostname: grafana
    container_name: grafana
    ports:
      - 3000:3000

  redis:
    image: redis/redis-stack-server
    hostname: redis
    container_name: redis
    ports:
      - 6379:6379
      
  demo:
    image: demo
    hostname: smartcache
    container_name: smartcache
    restart: on-failure
    depends_on:
      - mysql
      - redis
    ports:
      - 8080:8080
    environment:
      - SPRING_REDIS_HOST=redis
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql/smartcache
